body {
  margin-top: 40px;
}

footer {
  background-color: #f1f2f4;
  color: #A4A5AD;
  padding: 60px 0;
}

footer a {
  color: #A4A5AD;
  text-decoration: underline;
}

footer ul {
  margin: 0;
}

.section header > p {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.section-index {
  background: #272c30 url("../images/index.jpg") no-repeat center top;
  height: 700px;
  padding-top: 150px;
}
.section-index header {
  text-align: center;
}
.section-index header h1 {
  font-size: 4.0em;
  color: #ffffff;
}
.section-index header p {
  font-size: 2em;
  color: #cccccc;
  margin: 30px 0 70px 0;
}

@media (max-width: $screen-md-max) {

}

@media (max-width: $screen-sm-max) {
  .section-index {
    padding-top: 80px;
  }
}

@media (max-width: $screen-xs-max) {
  .section-index {
    height: 480px;
    padding-top: 80px;
  }
  .section-index header h1 {
    font-size: 2.5em;
  }
  .section-index header p {
    font-size: 1.8em;
    margin: 10px 0 20px 0;
  }
  footer li.first {
    display: block;
  }
}

@media (max-width: 479px) {
  .section-index {
    height: 480px;
    padding-top: 30px;
  }
  .section-index header h1 {
    font-size: 2em;
  }
  .section-index header p {
    font-size: 1.5em;
    margin: 10px 0 20px 0;
  }
  .section-index li {
    display: block;
    margin-bottom: 5px;
  }
  .section-index li a {
    width: 100%;
  }

}