---
layout: default
---

<section class="section section-index" id="index">
    <div class="container">
        {% include section-index.html %}
    </div>
</section>

<section class="section section-news" id="news">
    <div class="container">
        {% include section-news.html %}
    </div>
</section>

<section class="section section-what" id="what">
    <div class="container">
        {% include section-what.html %}
    </div>
</section>

<section class="section section-clients" id="clients">
    <div class="container">
        {% include section-clients.html %}
    </div>
</section>

<section class="section section-team" id="team">
    <div class="container">
        {% include section-team.html %}
    </div>
</section>

<section class="section section-partners" id="partners">
    <div class="container">
        {% include section-partners.html %}
    </div>
</section>

<section class="section section-contact" id="contact">
    <div class="container">
        {% include section-contact.html %}
    </div>
</section>
