---
layout: default
---

<section class="section section-index">
    <div class="container">
        {% include section-index.html %}
    </div>
</section>

<section class="section section-news">
    <div class="container">
        {% include section-news.html %}
    </div>
</section>

<section class="section section-what">
    <div class="container">
        {% include section-what.html %}
    </div>
</section>

<section class="section section-clients">
    <div class="container">
        {% include section-clients.html %}
    </div>
</section>

<section class="section section-team">
    <div class="container">
        {% include section-team.html %}
    </div>
</section>

<section class="section section-partners">
    <div class="container">
        {% include section-partners.html %}
    </div>
</section>

<section class="section section-contact">
    <div class="container">
        {% include section-contact.html %}
    </div>
</section>
