<header>
    <h1>News</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</header>

<div class="row row-primary">
    {% for post in site.posts limit:3 %}
    <div class="col-sm-4 col-md-4">
        <div class="">
            <div class="caption">

                <div class="thumbnail">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="">
                        <img src="../_assets/images/news/{{ post.image }}" alt="..." />
                    </a>
                </div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.excerpt }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row row-secondary">
    {% for post in site.posts limit:4 offset: 3 %}
    <div class="col-sm-6 col-md-6">
        <div class="">
            <div class="media">
                <a class="media-left" href="{{ post.url | prepend: site.baseurl }}">
                    <div class="thumbnail">
                        <img src="../_assets/images/news/{{ post.image }}" alt="..." />
                    </div>
                </a>
                <div class="media-body">
                    <h2 class="media-heading">{{ post.title }}</h2>
                    <p>{{ post.excerpt }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row-rest">
    <div class="list-group">
        {% for post in site.posts offset: 7 %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">{{ post.title }}</a>
        {% endfor %}
    </div>
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
